{% for host in groups['deployment'] %}
---
service_type: host
addr: {{ hostvars[host]['ansible_'+api_interface_name].ipv4.address }}
hostname: {{ host }}
labels:
- mon
- mgr
- osd
- _admin
{% endfor %}
{% for host in groups['ceph-mon'] %}
---
service_type: host
addr: {{ hostvars[host]['ansible_'+api_interface_name].ipv4.address }}
hostname: {{ host }}
labels:
- mon
- mgr
- osd
- _admin
{% endfor %}
{% for host in groups['ceph-osd'] %}
---
service_type: host
addr: {{ hostvars[host]['ansible_'+api_interface_name].ipv4.address }}
hostname: {{ host }}
labels:
- osd
{% endfor %}
---
service_type: mon
placement:
  label: "mon"
---
service_type: mgr
placement:
  label: "mgr"
---
service_type: crash
placement:
  host_pattern: "*"
